@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  --color-primary: rgb(10 105 175);
  --color-primary-content: rgb(255 255 255);
  --color-secondary: teal;
}
